<div id="<%= dom_id schedule %>">
  <p>
    <strong>Trening:</strong>
    <%= schedule.training_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= schedule.date %>
  </p>


  <p>
    <strong>Czas:</strong>
    <%= schedule.time %>
  </p>

</div>
