<div id="<%= dom_id membership %>">
  <p>
    <strong>User:</strong>
    <%= membership.user_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= membership.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= membership.end_date %>
  </p>

</div>
